html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(45deg, rgb(76, 207, 76),rgb(19, 150, 251), rgb(248, 53, 144), rgb(47, 46, 46));
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    display: flex;
    height: inherit;
    justify-content: center;
}

.wrapper{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.31);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.display{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5);
    background: 255, 255, 255, 0.75;
    border: 1px solid 255, 255, 255, 0.01;
    border-radius: 16px;
    color: #232323;
    font-size: 35px;
    font-weight: 500px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: 255, 255, 255, 0.75;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: 255, 255, 255, 0.75;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    background: rgb(239, 107, 0);
    color: #fff;
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}
.calc-button:hover{
    background-color: inherit;
}
.calc-button:active{
    background-color: rgba(255, 249, 186, 0.656);
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}
